/* CEMENTED: Inactive prompt spacing — redistribute 7px to match active height */
#active-card-container #card-action-area.stack:has(> .action-prompt-block.is-prompt) {
  --cap-inactive-prompt-top-adjust: 3px;   /* 16 + 3 = 19 */
  --cap-inactive-prompt-bottom-adjust: 4px;/* 16 + 4 = 20 */
}

#active-card-container #card-action-area.stack > .action-prompt-block.is-prompt {
  margin-top: var(--cap-inactive-prompt-top-adjust);
  margin-bottom: var(--cap-inactive-prompt-bottom-adjust);
}
#active-card-container #card-action-area.stack > .action-prompt-block.is-prompt {
  --cap-inactive-prompt-top-adjust: 3px;   /* 16 + 3 = 19 */
  --cap-inactive-prompt-bottom-adjust: 4px;/* 16 + 4 = 20 */
}
#active-card-container #card-action-area.stack > .action-prompt-block.is-prompt .action-prompt-spacer-top {
  height: var(--cap-inactive-prompt-top-adjust);
}
#active-card-container #card-action-area.stack > .action-prompt-block.is-prompt .action-prompt-spacer-bottom {
  height: var(--cap-inactive-prompt-bottom-adjust);
}
